# ==============================
# Kernel Core CDN - Environment
# ==============================

# SERVER PORT
PORT=6932

# NODE
NODE_ENV=production

# TRUSTES HOSTS (CDN DOMAIN)
CDN_TRUSTED_HOSTS=cdn-fivem.kosmici.club

# REFERER TRUSTED (FROM NUI FIVEM)
CDN_TRUSTED_REFERER=cfx-nui-kosmici-club

# MAX FILE SIZE
MAX_FILE_SIZE_MB=50

# PATH TO LOCAL DATABASE (SQLite)
REQUEST_DB_PATH=./requests.db
